# Policy Analysis Exercise - Data/Quant Analysis On Migration

In [11]:
import pandas as pd
import glob
import requests
import json
import re
import os

## Part I - Extract US Census Data with API

In [7]:
# your Census API key
api_key = "357c8cd178b67cb9b0aa93664bb6a792f431fc42"

# Ger variables from the American Community Survey
# note, this is the only, unfortunately, because this also 
#includes data for the five previous years, there will be lagging indicators
dataset = "acs/acs5"

## get 2018 to 2022 
# NOTE: On 7 December 2022, be sure to add 2022 ACS-5 data
years = ["2018", "2019", "2020", "2021"]

## SELECT YOUR VARIABLES HERE ##
variables = ("B01003_001E,B01001_002E,B01001_026E,B02001_002E,B02001_003E,"
             "B02001_004E,B02001_005E,B03001_003E,B01002_001E,B19301_001E,"
             "B19013_001E,B17001_002E,B17001_004E,B08136_001E,B25010_001E,"
             "B06008_002E,B06008_007E,B13016_001E,B25003_003E,B25003_002E,"
             "B25077_001E,B15003_017E,B15003_022E,B16001_002E,B05002_013E")

## SCHOOL AGED POPULATION: B01001_004E, B01001_005E, B01001_006E, B01001_028E, B01001_029E, B01001_030E
variables += (",B23025_004E,B23025_005E,B23025_007E,B01001_004E,B01001_005E,"
              "B01001_006E,B01001_028E,B01001_029E,B01001_030E")

## new variables ##
## Theil Index - Census
## Male to Female ratio
# population density, nonwhite population, native population
# voter turnout(?)
# average household size, estimated number of families
# per capita income, median family income, median household income by race,
# poverty rate
# percent of families in DEEP poverty, GINI index
# SE:B13004:Ratio of Income in 2020 to Poverty Level (Summarized - top-coded at 2.00)
# Estimated percent of people 16 to 19 years old 
    #who were not enrolled in school and were unemployed or not in the labor force, between 2017-2021.
#non census variables
#IRS, percent of tax returns with nonrefundable education credit
#HUD - difficult development area (DDA)

# initialize empty dataframe called acs_df
acs_df = pd.DataFrame()

# loop through all years
for year in years:
    params = {
        "get": variables,
        "for": "zip code tabulation area:*",
        "key": api_key
    }
    
    response = requests.get(f"https://api.census.gov/data/{year}/{dataset}", params=params)
    data = response.json()
    
    # Create a DataFrame for the current year and add a 'Year' column
    df = pd.DataFrame(data[1:], columns=data[0])
    df['year'] = year
    
    # Append the data for this year to the main DataFrame
    acs_df = pd.concat([acs_df, df], ignore_index=True)

In [ ]:
# rename the columns to make them more understandable
acs_df.rename(columns={
    "B01003_001E": "total_population",
    "B01001_002E": "male_population",
    "B01001_026E": "female_population",
    "B02001_002E": "population_white",
    "B02001_003E": "population_black",
    "B02001_004E": "population_native",
    "B02001_005E": "population_asian",
    "B03001_003E": "population_hispanic",
    "B01002_001E": "median_age",
    "B19301_001E": "per_capita_income",
    "B19013_001E": "median_household_income",
    "B17001_002E": "count_poverty_line",
    "B17001_004E": "count_children_poverty_line",
    "B08136_001E": "mean_commute_time",
    "B25010_001E": "household_size",
    "B06008_002E": "count_married",
    "B06008_007E": "count_single",
    "B13016_001E": "fertility_rate",
    "B25003_003E": "count_renter_occupied",
    "B25003_002E": "count_owner_occupied",
    "B25077_001E": "median_home_value",
    "B15003_017E": "count_hs_grad",
    "B15003_022E": "count_bachelors_degree",
    "B16001_002E": "count_adults_english_at_home",
    "B05002_013E": "count_foreign_born",
    "B23025_004E": "employed_civilian_over_16",
    "B23025_005E": "unemployed_civilian_over_16",
    "B23025_007E": "not_in_labor_force",
    "B01001_004E": "male_under_5_years",
    "B01001_005E": "male_5_to_9_years",
    "B01001_006E": "male_10_to_14_years",
    "B01001_028E": "female_under_5_years",
    "B01001_029E": "female_5_to_9_years",
    "B01001_030E": "female_10_to_14_years",
    "zip code tabulation area": "zip_code"
}, inplace=True)

In [ ]:
## print data to see if it works
acs_df.head()

In [ ]:
# verify if API call was correct
# Number of rows in DataFrame
num_rows = len(acs_df)

# Number of unique values in 'state' column
num_unique_states = acs_df['state'].nunique()

# number of rows should be approx 33120*n_years = 132k
print(f"Number of rows: {num_rows}")
print(f"Number of unique states: {num_unique_states}")

In [ ]:
# save to dataset after all changes
acs_df.to_csv("acs_df.csv", index=False)

## Part II - Data Wrangling USPS FOIA NCOA Data

Here, I will merge the US Census data to merge with USPS data. Uses Long Format i.e. for every row denotes a time

In [ ]:
# Concatenate all USPS FOIA NCOA .csv files
# path to .csv files
path = "./usps_foia/"
all_files = glob.glob(path + "Y*.csv")

dfs = []

for filename in all_files:
    df = pd.read_csv(filename)
    dfs.append(df)

ncoa_df = pd.concat(dfs, ignore_index=True)

In [ ]:
ncoa_df.head()

In [ ]:
## DATA CLEANING
# clean year, remove month
try:
    ncoa_df['year'] = ncoa_df['YYYYMM'].astype(str).str[:4].astype(int)
    ncoa_df['month'] = ncoa_df['YYYYMM'].astype(str).str[4:].astype(int)
    ncoa_df.drop(columns=['YYYYMM'], inplace=True)
except KeyError:
    print("Column 'YYYYMM' does not exist or has already been renamed.")

# clean zip code
try:
    ncoa_df['ZIPCODE'] = ncoa_df['ZIPCODE'].str.extract('(\d+)')
    ncoa_df.rename(columns={'ZIPCODE': 'zip_code'}, inplace=True)
except KeyError:
    print("Column 'ZIPCODE' does not exist or has already been renamed.")

# rename columns
# change to lowercase first
ncoa_df.columns = ncoa_df.columns.str.lower() #change all to lowercase
# rename map
column_rename_map = {
    'state': 'state_abbrev',
    'total from zip': 'total_leaving_zip',
    'total business': 'total_business_leaving',
    'total family': 'total_family_leaving',
    'total individual': 'total_individual_leaving',
    'total perm': 'total_perm_leaving',
    'total temp': 'total_temp_leaving',
    'total to zip': 'total_entering_zip',
    'total business.1': 'total_business_entering',
    'total family.1': 'total_family_entering',
    'total individual.1': 'total_individual_entering',
    'total perm.1': 'total_perm_entering',
    'total temp.1': 'total_temp_entering'
}

ncoa_df.rename(columns=column_rename_map, inplace=True)

# sort by zipcode and year
ncoa_df.sort_values(by=['zip_code', 'year'], inplace=True)
ncoa_df.reset_index(drop=True, inplace=True)

# change city caps to title form
ncoa_df['city'] = ncoa_df['city'].str.title()

# rearrange year and month to second and third row
cols = ncoa_df.columns.tolist()
if cols[1] != 'year' or cols[2] != 'month':
    cols.insert(1, cols.pop(cols.index('year')))
    cols.insert(2, cols.pop(cols.index('month')))
    ncoa_df = ncoa_df[cols]

In [ ]:
# each row is broken down by month, let's aggregate them into one year
# numbers are summed up, objects get the modal value

# Drop the 'month' column
ncoa_df.drop(columns='month', inplace=True)

# Group by 'zip_code' and 'year', then aggregate the data
ncoa_df = ncoa_df.groupby(['zip_code', 'year']).agg({
    'city': lambda x: x.mode()[0],  # Most frequent value
    'state_abbrev': lambda x: x.mode()[0],  # Most frequent value
    'total_leaving_zip': 'sum',
    'total_business_leaving': 'sum',
    'total_family_leaving': 'sum',
    'total_individual_leaving': 'sum',
    'total_perm_leaving': 'sum',
    'total_temp_leaving': 'sum',
    'total_entering_zip': 'sum',
    'total_business_entering': 'sum',
    'total_family_entering': 'sum',
    'total_individual_entering': 'sum',
    'total_perm_entering': 'sum',
    'total_temp_entering': 'sum'
    # Add all other int64 variables here in similar fashion
}).reset_index()

In [ ]:
ncoa_df.head()

In [ ]:
##ZCTA CROSSWALK ISSUE

#https://udsmapper.org/zip-code-to-zcta-crosswalk/

In [ ]:
# save to dataset after all changes
ncoa_df.to_csv("ncoa_df.csv", index=False)

## Merge NCOA and ACS Dataset

In [ ]:
ncoa_df = pd.read_csv('ncoa_df.csv')
acs_df = pd.read_csv('acs_df.csv')

# Make sure the 'zip_code' and 'year' columns are of the same data type in both DataFrames
ncoa_df['zip_code'] = ncoa_df['zip_code'].apply(lambda x: str(x).zfill(5))
acs_df['zip_code'] = acs_df['zip_code'].apply(lambda x: str(x).zfill(5))
ncoa_df['year'] = ncoa_df['year'].astype(int)
acs_df['year'] = acs_df['year'].astype(int)

# Perform the merge
merged_df = pd.merge(ncoa_df, acs_df, how='left', on=['zip_code', 'year'])

# Save the merged DataFrame
merged_df.to_csv('pae_dataset.csv', index=False)

In [ ]:
# after merging, delete intermediate csvs
# identify which files to deleete
files_to_delete = ['ncoa_df.csv', 'acs_df.csv']

# loop through and delete the files
for file_path in files_to_delete:
    try:
        os.remove(file_path)
        print(f"The file {file_path} has been deleted.")
    except Exception as e:
        print(f"The file {file_path} does not exist.")

In [ ]:
merged_df.head()

## FILTER TO BOSTON AND NYC

In [ ]:
## make a smaller dataset with boston and NYC zip codes, then aggregate by year
# Boston ZIP Codes - 48 listed
boston_zip_codes = [
    '02108', '02109', '02110', '02111', '02112', '02113', '02114', '02115', '02116', '02117', '02118', '02119',
    '02120', '02121', '02122', '02123', '02124', '02125', '02126', '02127', '02128', '02129', '02130', '02131',
    '02132', '02133', '02134', '02135', '02136', '02215', '02199', '02201', '02203', '02204', '02205', '02206',
    '02210', '02211', '02212', '02217', '02222', '02266', '02283', '02284', '02293', '02295', '02297', '02298'
]

# NYC ZIP Codes - 187 listed
nyc_zip_codes = [
    # Manhattan
    '10001', '10002', '10003', '10004', '10005', '10006', '10007', '10009', '10010', '10011', '10012', '10013',
    '10014', '10016', '10017', '10018', '10019', '10020', '10021', '10022', '10023', '10024', '10025', '10026',
    '10027', '10028', '10029', '10030', '10031', '10032', '10033', '10034', '10035', '10036', '10037', '10038',
    '10039', '10040', '10044', '10065', '10069', '10075', '10103', '10110', '10111', '10112', '10115', '10119',
    '10128', '10152', '10153', '10154', '10162', '10165', '10167', '10168', '10169', '10170', '10171', '10172',
    '10173', '10174', '10177', '10199', '10271', '10278', '10279', '10280', '10282',
    
    # Brooklyn
    '11201', '11203', '11204', '11205', '11206', '11207', '11208', '11209', '11210', '11211', '11212', '11213',
    '11214', '11215', '11216', '11217', '11218', '11219', '11220', '11221', '11222', '11223', '11224', '11225',
    '11226', '11228', '11229', '11230', '11231', '11232', '11233', '11234', '11235', '11236', '11237', '11238',
    '11239',

    # Queens
    '11004', '11005', '11101', '11102', '11103', '11104', '11105', '11106', '11354', '11355', '11356', '11357',
    '11358', '11359', '11360', '11361', '11362', '11363', '11364', '11365', '11366', '11367', '11368', '11369',
    '11370', '11371', '11372', '11373', '11374', '11375', '11377', '11378', '11379', '11385', '11411', '11412',
    '11413', '11414', '11415', '11416', '11417', '11418', '11419', '11420', '11421', '11422', '11423', '11426',
    '11427', '11428', '11429', '11430', '11432', '11433', '11434', '11435', '11436', '11691', '11692', '11693',
    '11694', '11697',

    # Bronx
    '10451', '10452', '10453', '10454', '10455', '10456', '10457', '10458', '10459', '10460', '10461', '10462',
    '10463', '10464', '10465', '10466', '10467', '10468', '10469', '10470', '10471', '10472', '10473', '10474',
    '10475',

    # Staten Island
    '10301', '10302', '10303', '10304', '10305', '10306', '10307', '10308', '10309', '10310', '10312', '10314'
]

In [ ]:
## DROP Non-Boston adn NYC zip codes
bos_nyc_df = pd.read_csv('pae_dataset.csv')

# #combine boston and nyc zip code lists
combined_zip_codes = boston_zip_codes + nyc_zip_codes

#make the zip_code column into string first
bos_nyc_df['zip_code'] = bos_nyc_df['zip_code'].astype(str).str.zfill(5) 

# now you can filter them, now that they match data types
bos_nyc_df = bos_nyc_df[bos_nyc_df['zip_code'].isin(combined_zip_codes)]

# # Save the filtered DataFrame
bos_nyc_df.to_csv('pae_dataset.csv', index=False)

In [ ]:
#check the size to see if it ran correctly
num_rows = bos_nyc_df.shape[0]
num_rows

## TRANSFORM

In [8]:
# School-Aged population
abcdf = pd.read_csv('pae_dataset.csv')

# List of columns to sum up
columns_to_sum = [
    'male_under_5_years', 'male_5_to_9_years', 'male_10_to_14_years', 
    'female_under_5_years', 'female_5_to_9_years', 'female_10_to_14_years'
]

# Sum up the values across the specified columns for each row
abcdf['school_age_population_5_17'] = abcdf[columns_to_sum].sum(axis=1)

In [12]:
# calculate net change in school-age population
# First, sort the DataFrame by 'zip_code' and 'year' to ensure the data is in the right order
df = pd.read_csv('pae_dataset.csv')
df.sort_values(by=['zip_code', 'year'], inplace=True)

# Then, you can calculate the yearly change within each 'zip_code' group
df['net_change_school_age_pop'] = df.groupby('zip_code')['school_age_population_5_17'].diff()

# If the first year of data for each 'zip_code' now has a missing value for 'net_change_children', 
# which it will after using diff(), you may want to fill it with zero or another appropriate value
df['net_change_school_age_pop'].fillna(0, inplace=True)

In [23]:
# Calculate rate, number of school-aged-children per 1000 residents
df['school_aged_pop_per_1000_residents'] = ((df['school_age_population_5_17'] / df['total_population']) * 1000).round(0)

# Calculate rate, total family leaving per 1000 residents
df['total_family_leaving_per_1000_residents'] = ((df['total_family_leaving'] / df['total_population']) * 1000).round(0)

In [24]:
# Sort the DataFrame by 'zip_code' and 'year' to ensure the data is in the right order
df.sort_values(by=['zip_code', 'year'], inplace=True)

# Calculate the yearly change in 'school_aged_pop_per_1000_residents' within each 'zip_code' group
df['net_change_school_age_per_1000'] = df.groupby('zip_code')['school_aged_pop_per_1000_residents'].diff()

# Handle the NaN values that will appear for the first entry of each 'zip_code' group after using diff()
df['net_change_school_age_per_1000'].fillna(0, inplace=True)

In [26]:
# Ensure the DataFrame is sorted by 'zip_code' and 'year'
df.sort_values(by=['zip_code', 'year'], inplace=True)

# Calculate the net change in 'total_family_leaving_per_1000_residents' from the previous year within each ZIP code group
df['net_change_family_leaving_per_1000'] = df.groupby('zip_code')['total_family_leaving_per_1000_residents'].diff()

# Optionally, handle the NaN values for the first year in each group
df['net_change_family_leaving_per_1000'].fillna(0, inplace=True)

In [ ]:
## convert populations to percentage
# create net flows
# impute, validate

In [29]:
# # Save the filtered DataFrame
df.to_csv('pae_dataset.csv', index=False)

# EXPLORATORY DATA ANALYSIS

In [ ]:
## do your eda here